.link
    color: __bemuikit_theme.blocks.link['color']
    text-decoration: none

    if not __bemuikit_theme.flags.portable_mode
        cursor: pointer

        &:hover
            text-decoration: underline
