$__media_cache = {}

media($condition)
    helper($condition)
        unless $__media_cache[$condition]
            $__media_cache[$condition] = ()
        push($__media_cache[$condition], block)

    +helper($condition)
        {selector() + ''}
            {block}

media-selector($className)
    {$className}
        {block}

    for media_name in __bemuikit_theme.media_list
        +media(media_name)
            {$className}\\@{media_name}
                {block}

media-apply()
    for $media, $blocks in $__media_cache
        $media = unquote(__bemuikit_theme.media_list[$media] || $media)
        $media = '(%s)' % $media unless match('\(', $media)
        $media = 'only screen and %s' % $media

        @media $media
            for $block in $blocks
                {$block}
