.panel__body
    flex: auto
    box-sizing: border-box

    &:first-child
        border-top-left-radius: __bemuikit_theme.blocks.panel['border-radius']
        border-top-right-radius: __bemuikit_theme.blocks.panel['border-radius']

    &:last-child
        border-bottom-left-radius: __bemuikit_theme.blocks.panel['border-radius']
        border-bottom-right-radius: __bemuikit_theme.blocks.panel['border-radius']
