@import 'core/index'
@import 'themes/default'

+prefix-classes('ui-')
    @import 'blocks/title'
    @import 'blocks/text'
    @import 'blocks/link'
    @import 'blocks/line'

    @import 'blocks/page'
    @import 'blocks/box'
    @import 'blocks/grid'
    @import 'blocks/panel'
    @import 'blocks/width'

    @import 'blocks/list'
    @import 'blocks/picture'

    media-apply()
