.page
    box-sizing: border-box
    margin-left: auto
    margin-right: auto

    if __bemuikit_theme.blocks.page['min-width']
        min-width: __bemuikit_theme.blocks.page['min-width']

    if __bemuikit_theme.blocks.page['max-width']
        max-width: __bemuikit_theme.blocks.page['max-width']

    if length(__bemuikit_theme.blocks.page['padding'])
        padding: __bemuikit_theme.blocks.page['padding']
